.profileInfo {
    display: grid;
    text-align: center;
}

.profilePic {
    margin-inline: auto;
    margin-block-end: 1.5rem;
    border-radius: 50%;
}

.name {
    margin-block-end: 0.5rem;
    font-size: var(--fs-650);
    font-weight: var(--fw-bold);
}

.location {
    margin-block-end: 1.5rem;
    color: var(--clr-primary-500);
    font-weight: var(--fw-semi-bold);
}